@model UpdateRoleVM
<div class="container">
    <p>@Model.User.UserName</p>
    <div class=row>
        <form method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                @foreach(var role in Model.Roles)
                {
                    <div class="container"> 
                    <input name="newRoles" value="@role.Name" @(Model.UserRoles.Contains(role.Name)?"checked":"") type="checkbox" class="form-control bg-light border-0 small">@role.Name
                    </div>
                }
                <span class="text-danger">@Html.ValidationMessage("roles")</span>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <span>Update</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>